*,
*:after,
*:before
{
	box-sizing: border-box;
}

body {
  align-items: center;
  background: #000 no-repeat center center fixed;
  background-size: contain;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

#answer {
  color: #fff;
  font-family: Impact, Anton, sans-serif;
  font-size: 20vw;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  text-shadow: #000 0.75vw 0.75vw 0;
  text-transform: uppercase;
}
